[project]
	description = [Mirror] Dive Into Python 3 online book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Elango Muthu (elangomuthu)
[access "refs/for/refs/*"]
	read = group user/Elango Muthu (elangomuthu)
	push = group user/Elango Muthu (elangomuthu)
	label-Code-Review = -2..+2 group user/Elango Muthu (elangomuthu)
	label-Verified = -1..+1 group user/Elango Muthu (elangomuthu)
	rebase = group user/Elango Muthu (elangomuthu)
	removeReviewer = group user/Elango Muthu (elangomuthu)
	submit = group user/Elango Muthu (elangomuthu)
[access "refs/heads/*"]
	read = group user/Elango Muthu (elangomuthu)
	create = group user/Elango Muthu (elangomuthu)
	push = +force group user/Elango Muthu (elangomuthu)
	pushMerge = group user/Elango Muthu (elangomuthu)
[access "refs/tags/*"]
	push = +force group user/Elango Muthu (elangomuthu)
	pushTag = group user/Elango Muthu (elangomuthu)
	pushSignedTag = group user/Elango Muthu (elangomuthu)
